<meta charset="UTF-8">
<title>Report Preview</title>
<style>
    body {
        padding-top:50px;
        margin: 8px 40px;
    }
    .header {
        text-align: center;
        margin: 0 auto 20px;
    }
    .logo {
        display: flex;
        justify-content: left;
    }
    .center-text {
        text-align: center;
        margin: 10 auto;
    }
    .section {
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>