<meta charset="UTF-8">
<title>Super Awesome</title>
<style>
    body {
        padding-top:50px;
        margin: 8px 40px;
    }
    .header {
        text-align: center;
        margin: 0 auto 20px;
    }
    .logo {
        display: inline;
    }
    .fecha {
        display: inline-block;
        position: absolute;
    }
    .center-text {
        text-align: center;
        margin: 10 auto;
    }
    .section {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    table, th, td {
        border: 1px solid lightseagreen;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        text-align: center;
    }
</style>