<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include ('../partials/header') %>
</header>

<main>
    <%= params.care.name %>
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p> ss
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>s
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p> ss
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>s
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p> ss
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>s
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p> ss
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>s
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p> ss
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>s
        v
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p> ss
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>s
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p> ss
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>s
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p> ss
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>s
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p> ss
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>s
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p> ss
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>s
        <p>Welcome to templating using EJS</p> ss
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>s
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p> ss
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>s
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p> ss
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>s
        <p>Welcome to templating using EJS</p> ss
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>s
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p> ss
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>s
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p> ss
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>ss
        <p>Welcome to templating using EJS</p> ss
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>s
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p> ss
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>s
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p> sss
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>s
        <p>Welcome to templating using EJS</p> ss
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>s
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p> ss
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>s
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p> ss
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>s

        
   
</main>

<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>